<nav class="navbar navbar-expand-md navbar-light fixed-top primary-color">
    <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-secondary d-none d-sm-block" href="#">Speak With Your Fridge</a>
  
    <div class="collapse navbar-collapse justify-content-center" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/fridge" (click)="isCollapsed = !isCollapsed">Home</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/grocery/list" class="nav-link" (click)="isCollapsed = !isCollapsed">Grocery list</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/grocery/parameter" class="nav-link" (click)="isCollapsed = !isCollapsed">Grocery parameter</a>
        </li>
      </ul>
    </div>
          <div class="">
            <button *ngIf="!isAuth" routerLink="signIn" class="btn text-light second-color mr-2">SignIn</button>
            <button *ngIf="!isAuth" routerLink="signUp" class="btn text-light second-color">SignUp</button>
            <button *ngIf="isAuth" class="btn text-light second-color" (click)="signOut()">Sign Out</button>
          </div>
  </nav>