# See http://help.github.com/ignore-files/ for more about ignoring files.


/src/environments
# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
SpeakWithYourFridgeFirebase/main-es5.66a2a2d03c2cef196615.js
SpeakWithYourFridgeFirebase/main-es5.66a15e74c9976a983ff1.js
SpeakWithYourFridgeFirebase/main-es2015.66a2a2d03c2cef196615.js
SpeakWithYourFridgeFirebase/main-es2015.66a15e74c9976a983ff1.js
.firebase/hosting.U3BlYWtXaXRoWW91ckZyaWRnZUZpcmViYXNl.cache
.firebase/hosting.U3BlYWtXaXRoWW91ckZyaWRnZUZpcmViYXNl.cache
SpeakWithYourFridgeFirebase/main-es5.66a15e74c9976a983ff1.js
