<li class="list-group-item">
    <h3>{{aliment.name}}</h3>
    <mat-checkbox [(ngModel)]="copyAliment.isAutomatic" (ngModelChange)="updateValue()">
        <div class="text-wrap">
            J'ajoute cet aliment automatiquement dans ma liste
            <mat-icon class="ml-1" [inline]="true" matTooltip="Si la case est coché, l'aliment va être ajouté automatiquement dans la liste de course en fonction d'un maximum et minimum" matTooltipPosition="right">info</mat-icon> 
        </div> 
    </mat-checkbox>
     
    <div class="form-group row">
        <label class="text-secondary col-7" for="maxQuantity">Max quantity</label>
        <div class="col-5 row no-gutters">
            <button class="btn btn-sm text-white second-color col-3 offset-1" (click)="addMaxQuantity(false)">
                <mat-icon  [inline]="true">remove</mat-icon> 
            </button>    
            <input type="number" min="0" id="maxQuantity" class="form-control col-5 text-center" placeholder="Max quantity" (change)="updateValue()" [(ngModel)]="copyAliment.maxQuantity">
            <button class="btn btn-sm text-white second-color col-3" (click)="addMaxQuantity(true)">
                <mat-icon  [inline]="true">add</mat-icon> 
            </button>
        </div>    
    </div>
    <div class="form-group row">
        <label class="text-secondary col-7" for="minQuantiy"> Min quantity</label>
        <div class="col-5 row no-gutters">
            <button class="btn btn-sm text-white second-color col-3 offset-1" (click)="addMinQuantity(false)">
                <mat-icon  [inline]="true">remove</mat-icon> 
            </button> 
            <input type="number" min="0" id="minQuantity" class="form-control col-5 text-center" placeholder="Min quantity" (change)="updateValue()" [(ngModel)]="copyAliment.minQuantity">
            <button class="btn btn-sm text-white second-color col-3" (click)="addMinQuantity(true)">
                <mat-icon  [inline]="true">add</mat-icon> 
            </button>
        </div>
    </div>

    <div class="alert alert-danger" *ngIf="errors">
        <div *ngIf="this.errors.minQuantityRequired">
            Min quantity required
        </div>
        <div *ngIf="this.errors.maxQuantityRequired">
            Max quantity required
        </div>
        <div *ngIf="this.errors.maxQuantityLowerThanMinQuantity">
            Max quantity has to be higher than min quantity
        </div>
        <div *ngIf="this.errors.minQuantityNegative">
            Min Quantity has to be higher than 0
        </div>
    </div>
</li>