<div class="row  mx-auto my-5">
    <div class="col-6 col-sm-6">
        <button class="btn text-white primary-color" (click)="showAddModal()">
            Add aliment
        </button>
    </div>
    <div class="col-6 col-sm-6">
        <button class="btn text-white primary-color" (click)="fillTheFridge()" [disabled]="copyAliments.length===0">
            Fill the fridge
        </button>
    </div>
</div>
<div class="row mx-auto my-2 w-100">
    <input type="text" id="search" placeholder="Search Aliment" class="form-control" [(ngModel)]=searchInput (ngModelChange)="filter()">
</div>
<div class="row my-2">
    <ul class="listgroup col-12 col-sm-12">
        <li *ngFor="let aliment of copyAliments; let i = index" class="list-group-item">
            <grocery-list-detail [aliment]=aliment></grocery-list-detail>
        </li>
    </ul>
</div>