<div class="row">
    <div class="col-sm-6">
        <div *ngFor="let aliment of alimentsColLeft" class="form-group">
            <label for="aliment.name">{{aliment.name}}</label>
            <input type="number" [id]="aliment.name" [value]="aliment.quantity" class="form-control">
        </div>
    </div>
    <div class="col-sm-6">
        <div *ngFor="let aliment of alimentsColRight" class="form-group">
            <label for="aliment.name">{{aliment.name}}</label>
            <input type="number" [id]="aliment.name" [value]="aliment.quantity" class="form-control">
        </div>
    </div>
    <button (click)="showAlliment()"></button>
</div>
