<h2>Your fridge</h2>
<div class="row">
    <div class="form-group col-sm-6">
        <input type="text" id="search" placeholder="Search Aliment" class="form-control" [(ngModel)]=searchInput (ngModelChange)="initTabs()">
    </div>
    <div class="col-sm-6">
        <button type="button" class="btn text-white primary-color" (click)="showAliment()">Add new aliment</button>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-6">
        <div *ngFor="let aliment of alimentsColLeft" class="form-group">
            <label [className]="aliment.quantity <= aliment.minQuantity ? 'text-danger' : 'text-secondary'" for="aliment.name">{{aliment.name}}</label>
            <button class="btn btn-sm btn-outline-danger float-right" (click)="deleteAliment(aliment)">
                <mat-icon  [inline]="true">delete_outline</mat-icon> 
            </button>
            <input type="number" min="0" [id]="aliment.name" [(ngModel)]="aliment.quantity" (change)="save(aliment)" class="form-control">
        </div>
    </div>
    <div class="col-sm-6">
        <div *ngFor="let aliment of alimentsColRight" class="form-group">
            <label [className]="aliment.quantity <= aliment.minQuantity ? 'text-danger' : 'text-secondary'" for="aliment.name">{{aliment.name}}</label>
            <button class="btn btn-sm btn-outline-danger float-right" (click)="deleteAliment(aliment)">
                <mat-icon [inline]="true">delete_outline</mat-icon>            </button>
            <input type="number" min="0" [id]="aliment.name" [(ngModel)]="aliment.quantity" (change)="save(aliment)" class="form-control">
        </div>
    </div>
</div>

