
<app-header class="fixed-top"></app-header>
<div class="container my-5">
    <div class="row">
        <div class="my-3 col-md-8">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-4 float-right">
            <img *ngIf="fridgeFull" src="assets/img/Fridge-open.svg" class="position-fixed my-4 mx-5 col-sm-4" alt="">
            <img *ngIf="!fridgeFull" src="assets/img/AlanSpeak-Fridge-open.svg" class="position-fixed my-4 mx-5 col-sm-4" alt="">
        </div>
    </div>
</div>