:root {
    --primary-color: #40CB7C;
    --accent-color: #404ACB;
    --text-color: #333;
}

.primary-color {
    background:var(--primary-color);
}

.second-color {
    background: var(--accent-color);
}

button:hover.second-color {
    background: #343ca7;
}

button:hover.primary-color {
    background: #36ad6a;
}
html, body { 
    background: #f8f8f8;
    height: auto; 
}
body { 
    background-image: url(assets/img/food.png);
    background-repeat: repeat;
    margin: 0; 
    font-family: 'Montserrat', sans-serif !important;
    color: var(--text-color);
}

main {
    background: #f8f8f888;
}

.custom-modalbox >
    mat-dialog-container {
        background: var(--accent-color) ;
    }

