/* You can add global styles to this file, and also import other style files */

.primary-color {
    background:#40CB7C;
}

.second-color {
    background: #404ACB;
}

button:hover.second-color {
    background: #408FCB;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-modalbox >
    mat-dialog-container {
        background: #404ACB ;
    }

