<div class="row">
    <div class="col-6 col-sm-6">
        <div class="row">
            <button *ngIf="showDetail" class="btn btn-sm" (click)="showDetail = !showDetail">
                <mat-icon  [inline]="true">expand_less</mat-icon> 
            </button>
            <button *ngIf="!showDetail" class="btn btn-sm" (click)="showDetail = !showDetail">
                <mat-icon  [inline]="true">expand_more</mat-icon> 
            </button>
            <h3 class="name">{{aliment.name}}  ({{aliment.quantityToBuy}})</h3>
        </div>
    </div>
    <div class="col-6">
        <button class="btn btn-sm text-white primary-color float-right" (click)="fillTheFridgeWithOneAliment(aliment)">
            Add {{aliment.quantityToBuy}} {{aliment.name}} to the fridge
        </button>
    </div>  
</div>
<div *ngIf="showDetail" [@inOutAnimation]>
    <div class="form-group row my-2">
        <label class="text-secondary col-7" for="quantity">Quantity in the fridge</label>
        <div class="col-5 row no-gutters">
            <button class="btn btn-sm text-white second-color col-3 offset-1 " (click)="addOneQuantityInTheFridge(false)">
                <mat-icon  [inline]="true">remove</mat-icon> 
            </button>
            <input type="number" min="0" id="quantity" class="form-control col-5 text-center" placeholder="" [(ngModel)]="aliment.quantity" (change)="quantityChange()">
            <button class="btn btn-sm text-white second-color col-3" (click)="addOneQuantityInTheFridge(true)">
                <mat-icon  [inline]="true">add</mat-icon> 
            </button>
        </div>
    </div>
    <div class="form-group row my-0" >
        <label class="text-secondary col-7 " for="quantityToBuy">Quantity to buy</label>
        <div class="col-5 row no-gutters">
            <button class="btn btn-sm text-white second-color col-3 offset-1 " (click)="addOneQuantityToBuy(false)">
                <mat-icon  [inline]="true">remove</mat-icon> 
            </button>
            <input type="number" min="0" id="quantityToBuy" class="form-control col-5 text-center" placeholder="Quantity to buy" [(ngModel)]="aliment.quantityToBuy" (change)="quantityToBuyChange()">
            <button class="btn btn-sm text-white second-color col-3" (click)="addOneQuantityToBuy(true)">
                <mat-icon  [inline]="true">add</mat-icon> 
            </button>
        </div>
    </div>
</div>   
